In [132]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [133]:
data = pd.read_csv(r'D:\01-Alexander\OneDrive\Study\Skillfactory\Projects\01-Skillfactory\Unit_1\Data\0_project_1\movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1380,tt0399146,32000000,60740827,A History of Violence,Viggo Mortensen|Maria Bello|Heidi Hayes|Ashton...,David Cronenberg,Tom Stall had the perfect life... until he bec...,An average family is thrust into the spotlight...,96,Drama|Thriller|Crime,New Line Cinema|DC Comics|BenderSpink,9/23/2005,6.7,2005
1676,tt0413300,258000000,890871626,Spider-Man 3,Tobey Maguire|Kirsten Dunst|James Franco|Thoma...,Sam Raimi,The battle within.,The seemingly invincible Spider-Man goes up ag...,139,Fantasy|Action|Adventure,Columbia Pictures|Laura Ziskin Productions|Mar...,5/1/2007,5.8,2007
652,tt0790686,35000000,72436439,Mirrors,Kiefer Sutherland|Paula Patton|Amy Smart|Camer...,Alexandre Aja,There is evil...On the other side.,An ex-cop and his family are the target of an ...,110,Horror|Thriller|Mystery,Regency Enterprises|Castel Film Romania|ASAF|N...,8/15/2008,6.0,2008
1111,tt0327056,25000000,156822020,Mystic River,Sean Penn|Tim Robbins|Kevin Bacon|Marcia Gay H...,Clint Eastwood,"We bury our sins, we wash them clean.","A story about friendship and loyalty, guilt an...",138,Thriller|Crime|Drama|Mystery,Village Roadshow Pictures|Malpaso Productions|...,10/7/2003,7.4,2003
152,tt2333784,90000000,206172544,The Expendables 3,Sylvester Stallone|Jason Statham|Harrison Ford...,Patrick Hughes,New team. New attitude. New mission.,"Barney, Christmas and the rest of the team com...",127,Action|Adventure|Thriller,Davis-Films|Nu Image Films|LionsGate|Millenniu...,8/4/2014,6.2,2014

In [134]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [135]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [136]:
data['profit'] = data.revenue - data.budget

# 1. У какого фильма из списка самый большой бюджет?

In [138]:
#Использовать варианты ответов в коде решения запрещено.    
#Вы думаете и в жизни у вас будут варианты ответов?)

In [139]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [140]:
# тут пишем ваш код для решения данного вопроса:
data.sort_values(by= str('budget'), ascending=False).head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000
1669,tt0449088,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/2007,6.8,2007,661000000
14,tt2395427,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,7.4,2015,1125035767

ВАРИАНТ 2

In [141]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [142]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [143]:
data.sort_values(by= str('runtime'), ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [144]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [145]:
data.sort_values(by= str('runtime'), ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [146]:
answers['4'] = '110.0'

In [147]:
round(data.runtime.mean(),0)

110.0

# 5. Каково медианное значение длительности фильмов?

In [148]:
answers['5'] = '107.0'

In [149]:
round(data.runtime.median(),0)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [150]:
answers['6'] = 'Avatar (tt0499549)'

In [151]:
# лучше код получения столбца profit вынести в Предобработку что в начале

data.sort_values(by='profit', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [152]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [153]:
data.sort_values(by='profit', ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [154]:
answers['8'] = '1478'

In [155]:
data.query('profit>0').count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [156]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [157]:
data.query('release_year==2008').sort_values(by='revenue', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [158]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [159]:
data.query('release_year >= 2012 & release_year <= 2014').sort_values(by='profit', ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [160]:
answers['11'] = 'Drama'

In [161]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

pd.Series(data.genres.str.split('|').sum()).value_counts() #sum() складывает все элементы серии в один список

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [162]:
answers['12'] = 'Drama'

In [163]:
df = data[data.profit > 0][['genres']]
df.genres = df.genres.str.split('|')
df = df.explode('genres') #arranged the pd.seria by index
df.genres.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [164]:
answers['13'] = 'Peter Jackson'

In [165]:
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [166]:
answers['14'] = 'Robert Rodriguez'

In [167]:
data[data.genres.str.contains('Action')].director.str.split('|').explode().value_counts().head(3)

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [168]:
answers['15'] = 'Chris Hemsworth'

In [169]:
df = data.copy()
df=data.query('release_year == 2012')
df['actors'] = df.cast.str.split('|')
df=df.explode('actors')
df.groupby(df['actors'])['revenue'].sum().sort_values(ascending=False).head(3)

actors
Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [170]:
answers['16'] = 'Matt Damon'

In [171]:
df = data.copy()
df['actors'] = df.cast.str.split('|')
df=df.explode('actors')
df[(df['budget']>df.budget.mean())].value_counts('actors')

actors
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [172]:
answers['17'] = 'Action'

In [173]:
df = data.copy()
df['actors'] = df.cast.str.split('|')
df=df.explode('actors')
df['genres'] = df.genres.str.split('|')
df = df.explode('genres')
df[(df['actors'] == 'Nicolas Cage')].value_counts('genres').index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [174]:
answers['18'] = 'K-19: The Widowmaker'

In [175]:
df = data.copy()
df['production_companies'] = df.production_companies.str.split('|')
df=df.explode('production_companies')
df=df.query('production_companies == "Paramount Pictures"').sort_values(by='profit',ascending=True).head(1)
display(df['original_title'])

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [176]:
answers['19'] = '2015'

In [177]:
df = data.copy()
df.groupby(df['release_year'])['revenue'].agg(['sum']).sort_values(['sum'],ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [178]:
answers['20'] = '2014'

In [179]:
df = data.copy()
df['production_companies'] = df.production_companies.str.split('|')
df=df.explode('production_companies')
df=df[df.production_companies.str.contains("Bros", na=False)]
df.groupby(df['release_year'])['revenue'].agg(['sum']).sort_values(['sum'],ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [180]:
answers['21'] = '9'

In [181]:

df = data.copy()
df[['month','day','year']] = df.release_date.str.split('/', expand=True)
df.month.value_counts().sort_values(ascending=False).index[0]

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [182]:
answers['22'] = '450'

In [183]:
df = data.copy()
df[['month','day','year']] = df.release_date.str.split('/', expand=True)
df['month'] = df['month'].astype(int)
df.query('month>=6 & month<=8').count().head(1)

imdb_id    450
dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [184]:
answers['23'] = 'Peter Jackson'

In [185]:
#не правильный вариант

In [186]:
df = data.copy()
df['director'] = df.director.str.split('|')
df=df.explode('director')
df[['month','day','year']] = df.release_date.str.split('/', expand=True)
df['month'] = df['month'].astype(int)
df.query('month>=1 & month<=2 | month==12')
df.value_counts('director').head(5)

director
Steven Soderbergh    13
Clint Eastwood       12
Ridley Scott         12
Robert Rodriguez     11
Steven Spielberg     10
dtype: int64

In [187]:
#Правильный вариант с datetime

In [188]:
from datetime import datetime
df = data.copy()
df.release_date = pd.to_datetime(data.release_date)
df=df[df.release_date.dt.month.isin([1,2,12])]
df.value_counts('director').head(5)

director
Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Nancy Meyers         4
Adam Shankman        4
dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [189]:
answers['24'] = 'Four By Two Productions'

In [190]:
df = data.copy()
df['production_companies'] = df.production_companies.str.split('|')
df=df.explode('production_companies')
df['name_length'] = df.original_title.str.len()
df.groupby(['production_companies'])['name_length'].agg(['mean']).sort_values(by='mean',ascending=False).head(3)

                         mean
production_companies
Four By Two Productions  83.0
Jim Henson Company, The  59.0
Dos Corazones            47.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [191]:
answers['25'] = 'Midnight Picture Show'

In [192]:
df = data.copy()
df['production_companies'] = df.production_companies.str.split('|')
df=df.explode('production_companies')
df['overview_length'] = df.overview.str.split(" ").str.len()
df.groupby(['production_companies'])['overview_length'].agg(['mean']).sort_values(by='mean',ascending=False).head(3)

                                 mean
production_companies
Midnight Picture Show           175.0
Heineken Branded Entertainment  161.0
Room 9 Entertainment            161.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [193]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [194]:
df = data.copy()
df[['original_title','vote_average']].sort_values(by='vote_average',ascending=False).head(18)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [195]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

In [196]:
from itertools import combinations
df = data.copy()
combs = [] 
for cast in df.cast.str.split('|'):
    combs.extend(combinations(cast, 2))
pd.Series(combs).value_counts()

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Rupert Grint, Emma Watson)            7
(Ben Stiller, Owen Wilson)             6
(Johnny Depp, Helena Bonham Carter)    6
                                      ..
(Michael Gambon, Ralph Fiennes)        1
(Jeff Bridges, Elizabeth Banks)        1
(Alicia Vikander, Oscar Isaac)         1
(Jennifer Coolidge, Regina King)       1
(Jake Gyllenhaal, Randy Quaid)         1
Length: 18121, dtype: int64

ВАРИАНТ 2

# Submission

In [197]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110.0',
 '5': '107.0',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [198]:
# и убедиться что ни чего не пропустил)
len(answers)

27