In [1]:
import pandas as pd
import numpy as np

train = pd.read_csv('././data/train.csv')
test = pd.read_csv('././data/test.csv')

In [2]:
df = test.append(train, sort=False).reset_index(drop=True)
print(f'the shape of the merged dataset is {df.shape}')

the shape of the merged dataset is (8353, 22)

In [3]:
df = df.copy()

In [4]:
df.productionDate.dtype

dtype('int64')

In [5]:
lst_years = ['год','года', 'лет']
lst_month = ['месяца', 'месяцев', 'месяц']
lst = []
for index, row in df.iterrows():
    dur = 0
    try:
        a,b = row['Владение'].split(' ')[0], row['Владение'].split(' ')[1]
        c,d = row['Владение'].split(' ')[-2], row['Владение'].split(' ')[-1]
        if b in lst_years:
            dur += int(a)
        if d in lst_month:
            dur += int(c)/12
        lst.append(dur)
    except:
        lst.append(None)

df['Владение'] = pd.DataFrame(lst)

In [6]:
df['Владение'][:10]

0    6.250000
1    6.500000
2         NaN
3         NaN
4         NaN
5    3.000000
6         NaN
7    2.166667
8    2.333333
9         NaN
Name: Владение, dtype: float64

In [7]:
df['Владение'].isna().sum()

5418

In [8]:
q1 = 59246
q3 = 167084

df1 = df.copy()
df1.Владение.fillna(0, inplace=True)

In [9]:
df1['Владение'].isna().sum()

0

In [10]:
q1_holding = []
q2_holding = []
q3_holding = []

for index, row in df1.iterrows():
    q1_query = f'mileage < {q1} and productionDate == {row.productionDate}'
    q1_holding.append(df1.query(q1_query)['Владение'].mean())

    q2_query = f'mileage >=  {q1} and mileage <= {q3} and productionDate == {row.productionDate}'
    q2_holding.append(df1.query(q2_query)['Владение'].mean())

    q3_query = f'mileage > {q3} and productionDate == {row.productionDate}'
    q3_holding.append(df1.query(q3_query)['Владение'].mean())

df['q1_holding'] = pd.DataFrame(q1_holding)

df['q2_holding'] = pd.DataFrame(q2_holding)

df['q3_holding'] = pd.DataFrame(q3_holding)

In [11]:
df

,bodyType,brand,color,description,engineDisplacement,enginePower,fuelType,mileage,modelDate,model_info,...,vehicleTransmission,Владельцы,Владение,ПТС,Привод,Руль,price,q1_holding,q2_holding,q3_holding
0,универсал 5 дв.,MERCEDES,чёрный,Всем привет!\n\nПродам эксклюзивный проект 124...,3.0 LTR,220 N12,бензин,350000,1984,W124,...,автоматическая,3 или более,6.250000,Оригинал,задний,Левый,NaN,NaN,NaN,3.125000
1,купе,BMW,белый,Продаю любимейшую тачилу.. Обвес и тюнинг Hamm...,3.0 LTR,313 N12,дизель,15000,2011,6ER,...,автоматическая,1 владелец,6.500000,Оригинал,полный,Левый,NaN,2.986111,1.431891,1.526882
2,купе,BMW,пурпурный,"Машина тут продаётся не в первый раз, НО! Толь...",2.5 LTR,218 N12,бензин,166600,2005,3ER,...,автоматическая,3 или более,NaN,Оригинал,полный,Левый,NaN,3.166667,1.834055,1.763421
3,седан,BMW,белый,"Автомобиль в отличном состоянии, весь в родной...",2.0 LTR,136 N12,бензин,147000,2005,3ER,...,автоматическая,2 владельца,NaN,Оригинал,задний,Левый,NaN,2.059524,1.802288,1.705947
4,седан,BMW,чёрный,Немка! с бесключивым доступом и камерой заднег...,2.0 LTR,190 N12,дизель,24000,2016,5ER,...,автоматическая,1 владелец,NaN,Оригинал,полный,Левый,NaN,0.209567,0.241667,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8348,седан,BMW,серый,Продаётся любимый автомобиль! За годы эксплуат...,2.0 LTR,150 N12,бензин,232777,2005,3ER,...,автоматическая,3 или более,NaN,Оригинал,задний,Левый,550000.0,0.000000,2.457650,1.554131
8349,седан,BMW,чёрный,Куплена у официального дилера в 2017 г. \n\nТр...,2.0 LTR,190 N12,дизель,33700,2013,5ER,...,автоматическая,3 или более,2.166667,Оригинал,задний,Левый,1900000.0,1.278591,0.952206,0.666667
8350,седан,BMW,белый,Торг на месте. Все работает. Сборка немецкая. ...,2.0 LTR,143 N12,бензин,200000,2008,3ER,...,автоматическая,3 или более,2.166667,Оригинал,задний,Левый,530000.0,3.166667,1.834055,1.763421
8351,седан,AUDI,чёрный,Автомобиль в отличном состоянии.\n3-из Авто в ...,3.0 LTR,310 N12,бензин,72000,2013,A8,...,автоматическая,3 или более,NaN,Оригинал,полный,Левый,1970000.0,1.278591,0.952206,0.666667
8352,лимузин,MERCEDES,чёрный,Удлиненный заводской Pullman на базе W140 (воо...,6.0 LTR,394 N12,бензин,21291,1994,S_KLASSE,...,автоматическая,2 владельца,NaN,Оригинал,задний,Левый,3000000.0,0.000000,4.666667,0.986111

In [12]:
hold_avg = df.groupby(df['productionDate'])['Владение'].median()

In [13]:
hold_avg

productionDate
1982     3.000000
1983          NaN
1984     3.875000
1985          NaN
1986    18.333333
1987    15.250000
1988    16.583333
1989     1.166667
1990     1.125000
1991     6.250000
1992    13.791667
1993     6.416667
1994     4.333333
1995     9.083333
1996     3.750000
1997     2.166667
1998     5.416667
1999     2.583333
2000     4.875000
2001     3.333333
2002     2.916667
2003     4.166667
2004     3.833333
2005     3.416667
2006     3.916667
2007     3.583333
2008     4.083333
2009     4.416667
2010     4.000000
2011     3.833333
2012     3.750000
2013     4.166667
2014     3.916667
2015     4.416667
2016     3.416667
2017     2.583333
2018     1.666667
2019     0.833333
2020     0.166667
Name: Владение, dtype: float64

In [14]:
hold_avg.iloc[::]

productionDate
1982     3.000000
1983          NaN
1984     3.875000
1985          NaN
1986    18.333333
1987    15.250000
1988    16.583333
1989     1.166667
1990     1.125000
1991     6.250000
1992    13.791667
1993     6.416667
1994     4.333333
1995     9.083333
1996     3.750000
1997     2.166667
1998     5.416667
1999     2.583333
2000     4.875000
2001     3.333333
2002     2.916667
2003     4.166667
2004     3.833333
2005     3.416667
2006     3.916667
2007     3.583333
2008     4.083333
2009     4.416667
2010     4.000000
2011     3.833333
2012     3.750000
2013     4.166667
2014     3.916667
2015     4.416667
2016     3.416667
2017     2.583333
2018     1.666667
2019     0.833333
2020     0.166667
Name: Владение, dtype: float64